.container {
  padding-top: var(--spacing-24, 96px);
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: var(--spacing-8, 32px);
}
.title-icon {
  width: var(--spacing-24, 96px);
  height: var(--spacing-24, 96px);
}
.title {
  width: var(--width-xs, 320px);
  color: var(--foreground, #171717);
  text-align: center;

  /* display-4xl/leading-none/semibold */
  font-family: "Familjen Grotesk";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 100% */
}
.content-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.content-link a {
  color: var(--primary, #6d28d9);

  /* text-sm/leading-6/medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  text-decoration: none;
}
.content-link img {
  width: var(--spacing-4, 16px);
  height: var(--spacing-4, 16px);
}
/*Form*/
.form {
  display: flex;
  width: var(--width-xs, 320px);
  max-width: var(--width-xs, 320px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4, 16px);
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2, 8px);
}
.label {
  color: var(--foreground, #171717);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.input {
  display: flex;
  height: 30px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
}
.button {
  display: flex;
  height: 44px;
  padding: var(--spacing-2, 8px) var(--spacing-8, 32px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
  border-radius: var(--rounded-md, 6px);
  background: var(--primary, #6d28d9);
  border: none;
  /* text-sm/leading-5/medium */
  color: var(--primary-foreground, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.error {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  color: tomato;
}